<div class="select-box">
  <label class="show-for-sr" for="selectName">Select Label</label>
  <select name="selectName" class="select-name" id="select-name">
    <option value="1" selected="">Exclude Remote Opportunities</option>
    <option value="2">Include Remote Opportunities</option>
    <option value="3">Only Show Remote Opportunities</option>
  </select>
</div>
